---
layout: default
---
<div class="container-top">
  <header class="block-wrap">
    <h1 class="block-title">Orbit Project</h1>
      <div class="block-content">
        <p>Orbit Project is a charity iniative built for the blockain. You can read about us in our introducing post on Steemit. We wiil soon be publishing full details on the charities we will be supporting.</p>
        <ul class="links">
          <li><a href="#">Read our FAQ</a></li>
          <li><a href="#">Sing up to help</a></li>
        </ul>
      </div>
  </header>
</div>

<div class="block-wrap container-top"> 
	<h2 class="block-title">The team</h2>
	<div class="team-wrap">
		{% for item in site.data.team %}
		<div class="team-item">
			<div class="item-img">
				<img src="{{site.url}}{{site.baseurl}}{{item.img}}" alt="" class="round">
			</div>
			<div class="block-content">
				<p>{{item.content}}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="block-wrap">
	<h2 class="block-title">our reach</h2>
	<p class="sub-title">our supporters have <span>{{site.data.options.followers}}+</span> followers<br>we have donated <span>{{site.data.options.donate}}</span> sbd</p>
</div>
<div class="block-wrap">
	<h2 class="block-title">supporters</h2>
	<div class="block-content">
		<ul class="supporters-items">
			{% for item in site.data.supporters %}
			<li>
				<a href="{{item.link}}">
					<div class="supporters-img">
						<img src="{{site.url}}{{site.baseurl}}{{item.avatar}}" alt="">
					</div>
					<div class="items-member">{{item.login}}</div>
				</a>
			</li>		
			{% endfor %}
		</ul>
	</div>
</div>