body{
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	max-height: 100%;
	background: url(../assets/img/body-bg.jpg) no-repeat;
	background-size: cover;
	color: $base-text-color;
}
h1, h2, h3, h4.block-title, h5.block-title, h6.block-title{
	text-transform: uppercase;
	font-family: $vodka-rough;
}
h1{
	font-size: 48px;
	margin: 0;
	@media(max-width: 460px){
		font-size: 35px;
	}
}
h2{
	font-size: 36px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
img {
	max-width: 100%;
	max-height: auto;
}
h2{
	margin: 10px 0;
}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}	
}
