@font-face {
    font-family: 'VodkaSansRough';
    src: url('../assets/fonts/VodkaSans-Rough.eot');
    src: url('../assets/fonts/VodkaSans-Rough.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/VodkaSans-Rough.woff2') format('woff2'),
        url('../assets/fonts/VodkaSans-Rough.woff') format('woff'),
        url('../assets/fonts/VodkaSans-Rough.ttf') format('truetype'),
        url('../assets/fonts/VodkaSans-Rough.svg#VodkaSans-Rough') format('svg');
    font-weight: normal;
    font-style: normal;
}