// layout style start
.main-wrapper{
	width: 100%;
	max-width: 845px;
	margin: 0 auto;
}
.container{
	padding: 0px 90px;
	margin: 0 auto;
	@media(max-width: 768px){
		padding: 0px 50px;
	}
	@media(max-width: 425px){
		padding: 0px 20px;
	}
}
.container-top{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	overflow: hidden;
}
// layout style end

.block-wrap{
	padding-top: 5px;
	padding-bottom: 20px;
}
.block-title{
	text-align: center;
}
.block-content{
	color: $base-text-color;
	font-size: 14px;
}
.links{
	a{
		color: $base-text-color;
	}
}
.sub-title{
	text-transform: uppercase;
	font-family: $vodka-rough;
	font-size: 30px;
	margin: 0;
	@media(max-width: 460px){
		font-size: 25px;
	}
	span{
		font-size: 42px;
		line-height: 0;
		@media(max-width: 460px){
		font-size: 32px;
	}
	}
}
.team-wrap{
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	@media(max-width: 460px){
		flex-wrap: wrap;
	}
	.team-item{
		flex: 0 1 33.3%;
		max-width: 33.3%;
		padding-left: 10px;
		padding-right: 10px;
    text-align: justify;
		@media(max-width: 460px){
		    flex: 0 1 100%;
			max-width: 100%;
		}
		.item-img{
			width: 100px;
			height: 100px;
			background: #FFF;
			margin: 0 auto;
  			overflow: hidden;
  			border-radius: 50%;
  			img{
  				width: auto;
				height: 100%;
				margin: 0 auto;
  			}
		}
	}
	
}
.round{
	border-radius: 50%;
}
.block-content{
	.supporters-items{
		padding-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
    justify-content: center;
		li{
		  flex: 1 0 21%;
			max-width: 21%;
			padding: 5px;
			text-align: center;
      @media (min-width: 600px) {
        flex: 1 0 13%;
        max-width: 13%;
      }
		    .supporters-img{
		    	width: 65px;
		    	height: 65px;
		    	background: #ddd;
		    	margin: 0 auto;
  				overflow: hidden;
  				border-radius: 50%;
  				img{
  					width: auto;
					height: 100%;
					margin: 0 auto;
  				}
		    }
		    .items-member{
		    	font-size: 10px;
		    	color: $base-text-color;
		    }
		}
		a{
			text-decoration: none;
		}
	}
}
.footer{
	text-align: center;
	font-size: 12px;
	a{
		color: $base-text-color;
	}
	p{
		padding: 5px 0;
		margin: 0;
	}
}
